{% extends 'manager/base.html' %}
{% load multiplicar %}
{% block contenido %}
  <title>Informe</title>
  <style>
    .container {
      text-align: center;
      padding: 20px;
    }
  </style>
  <br /><br /><br />
  <div class="container">
    <h1>Historial de atenciones</h1>
  </div>
  {% for a in atenciones %}
    <div class="container">
      <ul>Paciente: {{ a.paciente }} Fecha de atencion: {{ a.fecha_atencion }} Tarifa de atencion: ${{ a.tarifa }}</ul>
    </div>
  {% endfor %}
  <div class="container">
    <span>Total atenciones: ${{ total }}</span>
  </div>

  <div class="container">
    <span>Total adeudado: ${% multiplicacion total 0.3 %}</span>
  </div>
{% endblock %}
